<% include partials/head.ejs %>

    <section class="progessbar">
        <div class="player player1" id="outer">
            <% include partials/progressbar.ejs %>
        </div>

        <div class="player player2" id="outer">
            <% include partials/progressbar.ejs %>
        </div>

        <div class="player player3" id="outer">
            <% include partials/progressbar.ejs %>
        </div>

        <div class="player player4" id="outer">
            <% include partials/progressbar.ejs %>
        </div>
    </section>

    <section class="game">
        <div class="game-arrow"></div>
        <div class="controlls" id="controlls">
            <img id="left" src="/img/left.svg">
            <img id="up" src="/img/up.svg">
            <img id="down" src="/img/down.svg">
            <img id="right" src="/img/right.svg">
        </div>
    </section>

<% include partials/footer.ejs %>
