<% include partials/head.ejs %>

    <section class="side">
        <div class="message">
            <h1 class="messagewin hide">WE HAVE A WINNER!</h1>
        </div>

        <div class="progessbar">
            <div class="player player1 outer">
                <h2 class="playername">player_1</h2>
                <% include partials/progressbar.ejs %>
            </div>

            <div class="player player2 outer">
                <h2 class="playername">player_2</h2>
                <% include partials/progressbar.ejs %>
            </div>

            <div class="player player3 outer">
                <h2 class="playername">player_3</h2>
                <% include partials/progressbar.ejs %>
            </div>

            <div class="player player4 outer">
                <h2 class="playername">player_4</h2>
                <% include partials/progressbar.ejs %>
            </div>
        </div>
    </section>

    <section class="game">
        <div class="game-arrow"></div>
        <div class="controlls" id="controlls">
            <img id="left" src="/img/left.svg">
            <img id="up" src="/img/up.svg">
            <img id="down" src="/img/down.svg">
            <img id="right" src="/img/right.svg">
        </div>
    </section>

    <img class='logo' src="img/wn-logo.svg">

<% include partials/footer.ejs %>
