html, body, h1 {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif, helvetica;
}

h1 {
  font-size: 5em;
  color: #fff;
}

body {
  display: flex;
  background: #060c36;
}

.side {
  display: flex;
  flex-flow: wrap;
  padding: 1em;
}

.game {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 0.5em;
  height: 80vh;
  width: 65vw;
  max-width: 100%;
  max-height: 100%;
  background: #E9EAEC;
  box-shadow:  10px 10px 10px #666;
  border-radius: 10px;
}

.controlls {
  margin-bottom: 1em;
}

.game-arrow {
  width: 440px;
  position: relative;
  margin: 0 auto;
}

.controlls {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 440px;
  flex-direction: row;
  justify-content: space-between;
}

.controlls img {
  width: 5em;
  height: 5em;
  opacity: 0.5;
}

.arrow {
  width: 5em;
  height: 5em;
  margin-left: 2em;
  border: 2px solid #6f6262;
  border-radius: 50%;
}

.arrow:first-child {
  margin: 0;
}

.arrow-vert {
  fill: hotpink;
}

.arrow-hori {
  fill: skyblue;
}

.arrow-left {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.arrow-up {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.arrow-down {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/* Progress bar */
.progessbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.playername {
  font-size: 4em;
  width: 100%;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  hyphens: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.player1 {
  color: #F12D4B;
}

.player2 {
  color: #00ABEB;
}

.player3 {
  color: #27C86A;
}

.player4 {
  color: #F2C610;
}

.player {
  display: inline-block;
}

.outer {
  width: 2.5em;
  height: 60vh;
  overflow: hidden;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.player1 {
  border: 5px solid #F12D4B;
}

.player2 {
  border: 5px solid #00ABEB;
}

.player3 {
  border: 5px solid #27C86A;
}

.player4 {
  border: 5px solid #F2C610;
}

.inner, .inner div {
  width: 100%;
  overflow: hidden;
  left: -2px;
  position: absolute;
}

.inner {
  border-top-width: 0;
  bottom: 0;
  height: 0%;
}

.player1 .inner {
  border: 2px solid #F12D4B;
  background: #F12D4B;
}

.player2 .inner {
  border: 2px solid #00ABEB;
  background: #00ABEB;
}

.player3 .inner {
  border: 2px solid #27C86A;
  background: #27C86A;
}

.player4 .inner {
  border: 2px solid #F2C610;
  background: #F2C610;
}

.inner div {
  border-bottom-width: 0;
  top: 0;
  width: 100%;
  height: 5px;
}

.hide {
  opacity: 0;
}

.logo {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 4em;
  margin-right: 2.5em;
  margin-bottom: 2em;
}

/* LIGHTBOX SECTION*/
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.lightbox div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  color: #666;
  padding: 2em;
  height: 90vh;
  width: 91vw;
  box-shadow:  4px  4px 4px #ebebeb;
  border-radius: 10px;
}

.lightbox h2, h1, p {
  color: #6f6262;
  width: 100%;
}

.close-lightbox {
  display: block;
}

.close-lightbox::after {
  z-index: -1;
  content: '';
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.reload {
  border: 0;
  padding: 1em;
  background: #5C637A;
  color: #fff;
}

.displaynone {
  display: none;
}

.wn-logo {
  fill: black;
}
